<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Android Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31" >
        <activity
            android:name="sanpablook.study.sanpablook.BookingsRatingsActivity"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsCancelledActivity"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsConfirmedActivity"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsPendingActivity"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.DineMessageActivity"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.FishingPage"
            android:exported="false" />
        <activity
            android:name="sanpablook.study.sanpablook.CampingPage"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi4Y0iwY7WoSsDXb8BMfioHIjzZSqtPy8" /> <!-- PRODUCTS -->
        <activity android:name="sanpablook.study.sanpablook.AdaFarm" />
        <activity android:name="sanpablook.study.sanpablook.CarlzenFarm" />
        <activity android:name="sanpablook.study.sanpablook.CocoVinegar" />
        <activity android:name="sanpablook.study.sanpablook.ColettesBukoPie" />
        <activity android:name="sanpablook.study.sanpablook.EscabaSweets" />
        <activity android:name="sanpablook.study.sanpablook.GreenLake" />
        <activity android:name="sanpablook.study.sanpablook.HandicraftsAbrego" />
        <activity android:name="sanpablook.study.sanpablook.HandicraftsArtiaga" />
        <activity android:name="sanpablook.study.sanpablook.KuyaKevBY" />
        <activity android:name="sanpablook.study.sanpablook.LauraFarm" />
        <activity android:name="sanpablook.study.sanpablook.MamengKape" />
        <activity android:name="sanpablook.study.sanpablook.PandinFIsherFolk" />
        <activity android:name="sanpablook.study.sanpablook.Pinayte" />
        <activity android:name="sanpablook.study.sanpablook.ProductMenu" /> <!-- ETO YUNG SA MAIN MENU NG PRODUCT LEONA -->
        <activity android:name="sanpablook.study.sanpablook.RomalynUbe" />
        <activity android:name="sanpablook.study.sanpablook.SampalocLakeSouvenir" />
        <activity android:name="sanpablook.study.sanpablook.SPCCacaoGrowers" />
        <activity android:name="sanpablook.study.sanpablook.TanimAgriCacao" />
        <activity android:name="sanpablook.study.sanpablook.UbeMariaAna" />
        <activity android:name="sanpablook.study.sanpablook.BikeRentalPage" />
        <activity android:name="sanpablook.study.sanpablook.SanPablookActivities" />
        <activity android:name="sanpablook.study.sanpablook.MohicapLakePage" />
        <activity android:name="sanpablook.study.sanpablook.ForgotPassword" />
        <activity android:name="sanpablook.study.sanpablook.HotelPalmeras" />
        <activity android:name="sanpablook.study.sanpablook.YamboPandinLakePage" />
        <activity android:name="sanpablook.study.sanpablook.HotelCasa" />
        <activity android:name="sanpablook.study.sanpablook.CalibatoLakePage" />
        <activity android:name="sanpablook.study.sanpablook.PalakpakinLakePage" />
        <activity android:name="sanpablook.study.sanpablook.HotelMeding" />
        <activity android:name="sanpablook.study.sanpablook.ViewNotification" />
        <activity android:name="sanpablook.study.sanpablook.AdminBookingDetails" />
        <activity android:name="sanpablook.study.sanpablook.AdminMenu" />
        <activity android:name="sanpablook.study.sanpablook.AdminDashboard" />
        <activity android:name="sanpablook.study.sanpablook.DineCasaActivity" />
        <activity android:name="sanpablook.study.sanpablook.DineSulyapActivity" />
        <activity android:name="sanpablook.study.sanpablook.DinePalmerasReservationActivity" />
        <activity android:name="sanpablook.study.sanpablook.DinePalmerasActivity" />
        <activity android:name="sanpablook.study.sanpablook.UserNotifications" />
        <activity android:name="sanpablook.study.sanpablook.ActivityHistory" />
        <activity android:name="sanpablook.study.sanpablook.NatureActivity" />
        <activity android:name="sanpablook.study.sanpablook.UserSettings" />
        <activity android:name="sanpablook.study.sanpablook.SignUpActivity" />
        <activity android:name="sanpablook.study.sanpablook.HomeActivity" />
        <activity android:name="sanpablook.study.sanpablook.testMain" />
        <activity
            android:name="sanpablook.study.sanpablook.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sanpablook.study.sanpablook.BottomNavBar"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>