<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sanpablook_logo"
        android:label="@string/appName"
        android:roundIcon="@mipmap/sanpablook_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi4Y0iwY7WoSsDXb8BMfioHIjzZSqtPy8" />

        <activity
            android:name="sanpablook.study.sanpablook.BunotLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.YamboLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ConfirmedBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SanPablookActivities"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.MohicapLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.FishingPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SampalocLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.CampingPage"
            android:screenOrientation="portrait" /> <!-- BOOKING RELATED ACTIVITIES -->
        <activity
            android:name="sanpablook.study.sanpablook.BookingsCompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsCancelledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsConfirmedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.BookingsPendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.DineMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HotelReservationActivity"
            android:screenOrientation="portrait" /> <!-- PRODUCTS -->
        <activity
            android:name="sanpablook.study.sanpablook.AdaFarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.CarlzenFarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.CocoVinegar"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ColettesBukoPie"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.EscabaSweets"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.GreenLake"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HandicraftsAbrego"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HandicraftsArtiaga"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.KuyaKevBY"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.LauraFarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.MamengKape"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.PandinFIsherFolk"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.Pinayte"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.RomalynUbe"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SampalocLakeSouvenir"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SPCCacaoGrowers"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.TanimAgriCacao"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.UbeMariaAna"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.BikeRentalPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HotelPalmeras"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.PandinLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HotelCasa"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.CalibatoLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.PalakpakinLakePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.HotelMeding"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ViewNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.DineCasaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.DineSulyapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.DineReservationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.DinePalmerasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ActivityRatings"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.NatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.UserSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ViewAllRatingsDine"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.ViewAllRatingsHotel"
            android:screenOrientation="portrait" />
        <activity
            android:name="sanpablook.study.sanpablook.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sanpablook.study.sanpablook.BottomNavBar"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>